<!--Page de profil de l'utilisateur
    Paramètres : 
        user : de type User
        posts : Liste d'objets de type Post
-->
{% extends "base.html" %}

{% block contenu %}

<h1>utilisateur {{ user.username }}</h1>
    {% if user.about_me %}
    <p>
        {{ user.about_me}}
    </p>
    {%endif%}
    {% if user.last_seen %}
    <p>
        Derni&egrave;re visite : {{ user.last_seen }}
    </p>
    {% endif %}

    {% if user == current_user %}
    <p>
        <a href="{{ url_for('edit_profile') }}" class="w3-button w3-round w3-blue">Editer votre profil</a>
    </p>
    {% endif %}
<hr/>

<hr/>
    {% for post in posts %}
        <p>
            {{ post.author.username }} a dit : <b>{{ post.body }}</b>
        </p>
    {% endfor %}

{% endblock %}